.teglalap{
    background-color: white;
    height: 15%;
    width: 95%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    position: absolute ;
    display: block;
}

.kicsikocka{
    background-color: rgb(147, 106, 52);
    height: 45%;
    width: 3.5%;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    position: absolute;
    display: inline;
}

.teglalap2{
    background-color: white;
    height: 64%;
    width: 18%;
    margin-top: 15%;
    margin-left: 2%;
    margin-right: 2%;
    position: absolute;
    display: inline-block;

}

.teglalap3{
    background-color: white;
    height: 64%;
    width: 74%;
    margin-top: 15%;
    margin-left: 23%;
    margin-right: 2%;
    position: absolute;
    display: inline-block;
}

.kicsikocka2{
    background-color: rgb(147, 106, 52);
    height: 12.5%;
    width: 5%;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    position: absolute;
    display: inline;
}

.kicsikocka3{
    background-color: rgb(147, 106, 52);
    height: 12.5%;
    width: 5%;
    margin-top: 10.5%;
    margin-left: 3%;
    margin-right: 3%;
    position: absolute;
    display: inline;
}

.kicsikocka4{
    background-color: rgb(147, 106, 52);
    height: 12.5%;
    width: 5%;
    margin-top: 18%;
    margin-left: 3%;
    margin-right: 3%;
    position: absolute;
    display: inline;
}

.kicsikocka5{
    background-color: rgb(147, 106, 52);
    height: 12.5%;
    width: 5%;
    margin-top: 25.5%;
    margin-left: 3%;
    margin-right: 3%;
    position: absolute;
    display: inline;
}

.kicsikocka6{
    background-color: rgb(147, 106, 52);
    height: 12.5%;
    width: 5%;
    margin-top: 33%;
    margin-left: 3%;
    margin-right: 3%;
    position: absolute;
    display: inline;
}

.kicsiteglalap1{
    background-color: rgb(147, 106, 52);
    height: 12.5;
    width: 75%;
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 3%;
    position: absolute;
    display: inline;
}