.teglalap{
    background-color: white;
    height: 15%;
    width: 95%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    position: absolute ;
    display: block;
}

.kicsikocka{
    background-color: rgb(147, 106, 52);
    height: 50%;
    width: 4%;
    margin-top: 1.8%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    position: absolute;
    display: inline;
}

.teglalap2{
    background-color: white;
    height: 66%;
    width: 18%;
    margin-top: 13.5%;
    margin-left: 2%;
    margin-right: 2%;
    position: absolute;
    display: inline-block;

}

.teglalap3{
    background-color: white;
    height: 66%;
    width: 74%;
    margin-top: 13.5%;
    margin-left: 23%;
    margin-right: 2%;
    position: absolute;
    display: inline-block;
}

.kicsikocka2{
    background-color: rgb(147, 106, 52);
    height: 15%;
    width: 6%;
    margin-top: 2%;
    margin-left: 1.5%;
    position: absolute;
    display: inline-block;
}

.kicsiteglalap1{
    background-color: rgb(147, 106, 52);
    height: 15%;
    width: 89%;
    margin-top: 2%;
    margin-left: 9%;
    position: absolute;
    display: inline;
}

.kicsikocka3{
    background-color: rgb(147, 106, 52);
    height: 15%;
    width: 6%;
    margin-top: 10%;
    margin-left: 1.5%;
    position: absolute;
    display: inline;
}

.kicsiteglalap2{
    background-color: rgb(147, 106, 52);
    height: 15%;
    width: 89%;
    margin-top: 10%;
    margin-left: 9%;
    position: absolute;
    display: inline;
}

.kicsikocka4{
    background-color: rgb(147, 106, 52);
    height: 15%;
    width: 6%;
    margin-top: 18%;
    margin-left: 1.5%;
    position: absolute;
    display: inline;
}

.kicsiteglalap3{
    background-color: rgb(147, 106, 52);
    height: 15%;
    width: 89%;
    margin-top: 18%;
    margin-left: 9%;
    position: absolute;
    display: inline;
}

.kicsikocka5{
    background-color: rgb(147, 106, 52);
    height: 15%;
    width: 6%;
    margin-top: 26%;
    margin-left: 1.5%;
    position: absolute;
    display: inline;
}

.kicsiteglalap4{
    background-color: rgb(147, 106, 52);
    height: 15%;
    width: 89%;
    margin-top: 26%;
    margin-left: 9%;
    position: absolute;
    display: inline;
}

.kicsikocka6{
    background-color: rgb(147, 106, 52);
    height: 15%;
    width: 6%;
    margin-top: 34%;
    margin-left: 1.5%;
    position: absolute;
    display: inline;
}

.kicsiteglalap5{
    background-color: rgb(147, 106, 52);
    height: 15%;
    width: 89%;
    margin-top: 34%;
    margin-left: 9%;
    position: absolute;
    display: inline;
}

