.balkocka1{
    background-color: rgb(52, 145, 147);
    height: 33.5%;
    width: 19%;
    margin-top: 2%;
    margin-left: 2%;
    padding: 2%;
    position: absolute;
    display: inline-block;

}

.balkocka2{
    background-color: rgb(52, 145, 147);
    height: 33.5%;
    width: 19%;
    margin-top: 25.5%;
    margin-left: 2%;
    padding: 2%;
    position: absolute;
    display: inline-block;
}

.balkocka3{
    background-color: rgb(52, 145, 147);
    height: 33.5%;
    width: 19%;
    margin-top: 2%;
    margin-left: 28%;
    padding: 2%;
    position: absolute;
    display: inline-block;
}

.balkocka4{
    background-color: rgb(52, 145, 147);
    height: 33.5%;
    width: 19%;
    margin-top: 25.5%;
    margin-left: 28%;
    padding: 2%;
    position: absolute;
    display: inline-block;
}

.balkicsikocka1{
    background-color: white;
    height: 26%;
    width: 25%;
    margin-top: 20%;
    margin-left: 25%;
    padding: 3%;
    position: absolute;
    display: inline-block;
}

.balkicsikocka2{
    background-color: white;
    height: 26%;
    width: 25%;
    margin-top: 20%;
    margin-left: 25%;
    padding: 3%;
    position: absolute;
    display: inline-block;  
}

.balkicsikocka3{
    background-color: white;
    height: 26%;
    width: 25%;
    margin-top: 20%;
    margin-left: 25%;
    padding: 3%;
    position: absolute;
    display: inline-block;
}

.balkicsikocka4{
    background-color: white;
    height: 26%;
    width: 25%;
    margin-top: 20%;
    margin-left: 25%;
    padding: 3%;
    position: absolute;
    display: inline-block;
}

.jobbkocka1{
    background-color: rgb(52, 145, 147);
    height: 59%;
    width: 37%;
    margin-top: 2%;
    margin-left: 54%;
    padding: 3%;
    position: absolute;
    display: inline-block;
}

.jobbkicsikocka1{
    background-color: white;
    height: 30%;
    width: 25%;
    margin-top: 17%;
    margin-left: 29%;
    padding: 3%;
    position: absolute;
    display: inline;
}

.teglalap1{
    background-color: rgb(52, 145, 147);
    height: -5%;
    width: 37%;
    margin-top: 40%;
    margin-left: 54%;
    padding: 3%;
    position: absolute;
    display: inline-block;
}