body{
    background-color: black;
    margin: 0%;
}

@font-face {
    font-family: szoveg;
    src: url(Montserrat/Montserrat-Black.ttf);
}

.szoveg{
    font-family: szoveg;
    color: rgb(203, 162, 110);
    margin: 6% 30% 0.1% 47.5%;
    display: block;
    font-size: 2rem;
}

.kep1{
    display: inline-block;
    height: 321px;
    width: 235px;
    margin: 0px 35px 7px 0px;
}

.kep2{
    display: inline-block;
    height: 351px;
    width: 235px;
    margin: 30px 35px 7px 35px;
}

.kep3{
    display: inline-block;
    height: 381px;
    width: 235px;
    margin: 33px 35px -10px 35px;
    border: 15px solid black;
    outline: 15px solid rgb(203, 162, 110);
}

.kep4{
    display: inline-block;
    height: 351px;
    width: 235px;
    margin: 80px 35px 7px 35px;
}

.kep5{
    display: inline-block;
    height: 321px;
    width: 253px;
    margin: 110px 0px 7px 35px;
}

.elsosav{
    display: inline-block;
    margin-top: 6px;
    height: 15px;
    width: 100%;
    background-color: rgb(203, 162, 110);
}

.masodiksav{
    display: inline-block;
    margin-top: 6px;
    margin-left: 10%;
    height: 15px;
    width: 80%;
    background-color: rgb(102, 81, 55);
}

.harmadiksav{
    display: inline-block;
    margin-top: 6px;
    margin-left: 15%;
    height: 15px;
    width: 70%;
    background-color: rgb(61, 49, 33)
}

.negyediksav{
    display: inline-block;
    margin-top: 6px;
    margin-left: 25%;
    height: 15px;
    width: 50%;
    background-color: rgb(30, 24, 16);
}

.otodiksav{
    display: inline-block;
    margin-top: 6px;
    margin-left: 32%;
    height: 15px;
    width: 36%;
    background-color: rgb(21, 17, 11);
}